.button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: #07b569;
    display: inline-block;
    padding: 8px 30px;
}
.button a:hover {
    background-color: #019c58;
}